{% extends 'base.html.twig' %}
{% block body %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
    <!-- Modal -->
    <div class="modal fade" id="elegantModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <!--Content-->
            <div class="modal-content form-elegant">
                <!--Header-->
                <div class="modal-header text-center">
                    <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" id="myModalLabel"><strong>Se connecter</strong></h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!--Body-->
                <div class="modal-body mx-4">
                    <!--Body-->
                    <form action="{{ path('login') }}" method="post">
                    <div class="md-form mb-5">
                            <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control validate" />
                            <label data-error="wrong" data-success="right" for="Form-email1">Your email</label>
                    </div>
                    <div class="md-form pb-3">
                        <input type="password" id="Form-pass1" name="_password" class="form-control validate" />
                        <label data-error="wrong" data-success="right" for="Form-pass1">Your password</label>
                        <p class="font-small blue-text d-flex justify-content-end">Forgot <a href="#" class="blue-text ml-1"> Password?</a></p>
                    </div>
                        <button type="submit" class="btn sunny-morning-gradient btn-block btn-rounded z-depth-1a">Sign in</button>
                    </form>
                    <div class="text-center mb-3">
                    </div>
                </div>
                <!--Footer-->
                <div class="modal-footer mx-5 pt-3 mb-1">
                    <p class="font-small grey-text d-flex justify-content-end">Pas encore membre? <a href="#" class="blue-text ml-1"> Sign Up</a></p>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
    <!-- Modal -->
    <div class="text-center">
        <a href="" class="btn btn-default btn-rounded" data-toggle="modal" data-target="#elegantModalForm">Launch modal Login Form</a>
    </div>

{#<form action="{{ path('login') }}" method="post">#}
    {#<label for="username">Username:</label>#}
    {#<input type="text" id="username" name="_username" value="{{ last_username }}" />#}

    {#<label for="password">Password:</label>#}
    {#<input type="password" id="password" name="_password" />#}

    {##}
        {#If you want to control the URL the user#}
        {#is redirected to on success (more details below)#}
        {#<input type="hidden" name="_target_path" value="/account" />#}
    {##}

    {#<button type="submit">login</button>#}
{#</form>#}
{% endblock %}